table, th, td {
  border: 1px solid;
}

.job-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-option input[type='radio'] {
  margin-right: 10px;
}

.job-description {
  margin-left: 10px;
}

.large-text-wrap {
  inline-size: 500px; 
}

/* TODO: Add your primary and secondary styling below! */
.secondary-button {
  color: #0D0D0D;
  background-color: #F9FAFC;
  padding: 10px 15px;
  border: 1px solid #DCDEDF;
  border-radius: 5px;
}

.primary-button {
  color: white;
  background-color: #289A45;
  padding: 10px 15px;
  border: 1px solid #289A45;
  border-radius: 5px;
}
